.bgBannerCover {
    background-size: cover;
    background-image: url("../../assets/home-header.png");
    background-position: center center;
}

.bgSecondary {
    background-color: $secondary;
}

.bgDesignCover {
    background-size: cover;
    background-image: url("../../assets/index-bg.png");
    background-position: center center;
}

.bgSuccess {
    background-color: $success;
}