.bgBannerCover {
    background-size: cover;
    background-image: url("../../assets/home-header.png");
}

.bgSecondary {
    background-color: $secondary;
}

.bgDesignCover {
    background-size: cover;
    background-image: url("../../assets/index-bg.png");
}