.tag {
    color: $primary;
    font-family: $font-family-eng;
    font-size: map-get($font-size, 6);
    font-weight: map-get($font-weight, 3);

    @include pad {
        font-size: map-get($font-size, 2);
    }
}

.tagMain {
    color: $primary;
    font-family: $font-family-eng;
    font-size: map-get($font-size, 6);
    font-weight: map-get($font-weight, 3);
}