/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Noto Sans TC, sans-serif, serif;
}

a {
  text-decoration: none;
  display: block;
  font-family: Noto Sans TC, sans-serif, serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

header {
  background-color: #AA0601;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header .logo {
  width: 80px;
}
header .navbar {
  gap: 4rem;
}
header .navbar .navItem a {
  color: #fff;
  display: inline-block;
  position: relative;
}
header .navbar .navItem a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
header .navbar .navItem a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

footer {
  background-color: #AA0601;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
footer .linkList {
  margin-bottom: 1.5rem;
}
footer .linkList .footerNavbar {
  gap: 3rem;
}
footer .linkList .footerNavbar .footerNavItem a {
  color: #fff;
  display: inline-block;
  position: relative;
}
footer .linkList .footerNavbar .footerNavItem a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
footer .linkList .footerNavbar .footerNavItem a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
footer .linkList .socialList {
  font-size: 3rem;
  gap: 2rem;
}
footer .linkList .socialList a:hover .fa-brands {
  color: #DCDCDC;
}
footer .linkList .socialList a .fa-brands {
  color: #fff;
}
footer .contactList {
  margin-bottom: 2rem;
}
footer .contactList a {
  color: #fff;
  font-size: 2.25rem;
}
footer .contactList a:hover {
  color: #DCDCDC;
}
footer .contactList a span {
  vertical-align: middle;
  font-size: 2.25rem;
  margin-right: 1.25rem;
}
footer .copyrightList {
  padding-top: 2rem;
  border-top: 1px solid #fff;
}
footer .copyrightList .copyrightItem {
  color: #fff;
}
footer .copyrightList .termsList {
  gap: 3rem;
}
footer .copyrightList .termsList .termsItem a {
  color: #fff;
  display: inline-block;
  position: relative;
}
footer .copyrightList .termsList .termsItem a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
footer .copyrightList .termsList .termsItem a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.bgBannerCover {
  background-size: cover;
  background-image: url("../../assets/home-header.png");
}

.bgSecondary {
  background-color: #FBF2F2;
}

.bgDesignCover {
  background-size: cover;
  background-image: url("../../assets/index-bg.png");
}

.btn {
  border: none;
  background-color: #AA0601;
}
.btn a {
  color: #fff;
}
.btn:hover {
  background-color: #FBF2F2;
}
.btn:hover a {
  color: #AA0601;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}

.containerSm {
  max-width: 636px;
  margin: 0 auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.mb-1 {
  margin-bottom: 8px;
}

.banner {
  padding-top: 18.5rem;
  padding-bottom: 18.5rem;
  text-align: right;
  margin-left: auto;
}
.banner h2 {
  font-size: 2rem;
  color: #650300;
}
.banner .bannerContentMain {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.banner .bannerBtn {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.banner .bannerBtn a {
  font-size: 1.25rem;
}

.service {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.service h3 {
  text-align: center;
  font-size: 3rem;
  color: #650300;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.service .serviceList {
  gap: 1.5rem;
}
.service .serviceList .serviceItem {
  width: 23.6%;
  text-align: center;
}
.service .serviceList .serviceItem span {
  color: #650300;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.service .serviceList .serviceItem h4 {
  color: #650300;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.service .serviceList .serviceItem p {
  text-align: left;
}

.glass {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.glass h3 {
  text-align: center;
  font-size: 3rem;
  color: #650300;
  font-weight: 700;
  margin-bottom: 3rem;
}
.glass .glassList {
  gap: 1.5rem;
}
.glass .glassList .glassItem {
  text-align: center;
}
.glass .glassList .glassItem img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
.glass .glassList .glassItem:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.glass .glassList .glassItem h4 {
  font-family: Roboto, sans-serif, serif;
  color: #AA0601;
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  margin-top: 0.5rem;
}

.design {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.design h3 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.design .designItem img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
.design .designItem:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.design .designItem h4 {
  color: #AA0601;
  font-size: 3rem;
  font-family: Roboto, sans-serif, serif;
  font-weight: 900;
  text-align: center;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.comment {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.comment h3 {
  text-align: center;
  font-size: 3rem;
  color: #650300;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.comment .commentList {
  gap: 1.5rem;
}
.comment .commentList .commentItem {
  width: 23.6%;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
}
.comment .commentList .commentItem:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
.comment .commentList .commentItem .commentContent {
  padding: 1rem;
}
.comment .commentList .commentItem .commentContent .commentName {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.comment .commentList .commentItem .commentContent .commentText {
  margin-bottom: 4rem;
}
.comment .commentList .commentItem .commentContent .commentDate {
  font-size: 0.875rem;
  color: #707070;
  margin-top: 0.5rem;
}

.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contact h3 {
  text-align: center;
  font-size: 3rem;
  color: #650300;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.contact p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.contact input {
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  background-color: #FBF2F2;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
}
.contact textarea {
  width: 100%;
  height: 136px;
  padding-top: 0.375rem;
  padding-left: 0.75rem;
  background-color: #FBF2F2;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
}
.contact .checkbox {
  width: auto;
}
.contact .submitBtn {
  width: 65.5%;
  border: none;
  background-color: #AA0601;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contact .submitBtn:hover {
  background-color: #650300;
  cursor: pointer;
}

.location {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
.location h2 {
  font-size: 3rem;
  font-weight: 700;
  border-left: 8px solid #AA0601;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.location label {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.location select {
  width: 23.5%;
  font-size: 1.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #495057;
  position: relative;
}
.location .locationList {
  margin-top: 2.5rem;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.location .locationList .locationItem {
  width: 32%;
}
.location .locationList .locationItem .locationTitle {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.location .locationList .locationItem .locationTitle h5 {
  color: #000;
  font-size: 1.5rem;
}
.location .locationList .locationItem .locationTextList {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.location .locationList .locationItem .locationTextList .locationTextItem a {
  color: #000;
}
.location .locationList .locationItem .locationTextList .locationTextItem span {
  vertical-align: middle;
  margin-right: 0.75rem;
}
.location .locationList .locationItem button {
  border: none;
  width: 100%;
  background-color: #000;
  display: block;
}
.location .locationList .locationItem button a {
  color: #fff;
  font-size: 1.1875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.faq {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
.faq h2 {
  font-size: 3rem;
  font-weight: 700;
  border-left: 8px solid #AA0601;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.faq h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.faq .faqItem ~ .faqItem {
  margin-top: 2rem;
}
.faq h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=all.css.map */