@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Noto Sans TC, sans-serif, serif;
}

a {
  text-decoration: none;
  display: block;
  font-family: Noto Sans TC, sans-serif, serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

header {
  background-color: #AA0601;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  header {
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  header .headerContent {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}
header .logo {
  width: 80px;
}
@media (max-width: 767px) {
  header .logo {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
header .navbar {
  gap: 4rem;
}
@media (max-width: 767px) {
  header .navbar {
    width: 100%;
    gap: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  header .navbar .navItem {
    text-align: center;
    width: 50%;
    border: 1px solid #fff;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
@media (max-width: 767px) {
  header .navbar .navItem:hover {
    cursor: pointer;
    background-color: #650300;
  }
}
header .navbar .navItem a {
  color: #fff;
  display: inline-block;
  position: relative;
}
header .navbar .navItem a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
@media (max-width: 767px) {
  header .navbar .navItem a::after {
    display: none;
  }
}
header .navbar .navItem a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
@media (max-width: 767px) {
  header .navbar .navItem a:hover::after {
    display: none;
  }
}

footer {
  background-color: #AA0601;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
@media (max-width: 767px) {
  footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
footer .footerNavbar {
  gap: 3rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  footer .footerNavbar {
    display: none;
    margin-bottom: 0;
  }
}
footer .footerNavbar .footerNavItem a {
  color: #fff;
  display: inline-block;
  position: relative;
}
footer .footerNavbar .footerNavItem a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
footer .footerNavbar .footerNavItem a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
footer .socialList {
  font-size: 3rem;
  gap: 2rem;
}
@media (max-width: 992px) {
  footer .socialList .socialItem {
    font-size: 2.265rem;
  }
}
footer .socialList a:hover .fa-brands {
  color: #DCDCDC;
}
footer .socialList a .fa-brands {
  color: #fff;
}
@media (max-width: 767px) {
  footer .socialList a {
    font-size: 1.5rem;
  }
}
footer .contactList {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  footer .contactList {
    margin-bottom: 1.5rem;
  }
}
footer .contactList a {
  color: #fff;
  font-size: 2.25rem;
}
footer .contactList a:hover {
  color: #DCDCDC;
}
footer .contactList a span {
  vertical-align: middle;
  font-size: 2.25rem;
  margin-right: 1.25rem;
}
@media (max-width: 767px) {
  footer .contactList a {
    font-size: 1rem;
  }
}
footer .copyrightList {
  padding-top: 2rem;
  border-top: 1px solid #fff;
}
@media (max-width: 767px) {
  footer .copyrightList {
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
}
footer .copyrightList .copyrightItem {
  color: #fff;
}
footer .copyrightList .termsList {
  gap: 3rem;
}
@media (max-width: 767px) {
  footer .copyrightList .termsList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
}
footer .copyrightList .termsList .termsItem a {
  color: #fff;
  display: inline-block;
  position: relative;
}
footer .copyrightList .termsList .termsItem a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
footer .copyrightList .termsList .termsItem a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.bgBannerCover {
  background-size: cover;
  background-image: url("../assets/home-header.png");
  background-position: center center;
}
@media (max-width: 992px) {
  .bgBannerCover {
    background-image: url("../assets/home-header-sm.png");
  }
}

.bgSecondary {
  background-color: #FBF2F2;
}

.bgDesignCover {
  background-size: cover;
  background-image: url("../assets/index-bg.png");
  background-position: center center;
}
@media (max-width: 992px) {
  .bgDesignCover {
    background-image: url("../assets/index-bg-md.png");
  }
}
@media (max-width: 767px) {
  .bgDesignCover {
    background-image: url("../assets/index-bg-sm.png");
  }
}

.bgSuccess {
  background-color: #650300;
}

.btn {
  border: none;
  background-color: #AA0601;
}
.btn a {
  color: #fff;
}
.btn:hover {
  background-color: #FBF2F2;
}
.btn:hover a {
  color: #AA0601;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}
@media (max-width: 992px) {
  .container {
    padding: 0 36px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 12px;
  }
}

.containerSm {
  max-width: 636px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .containerSm {
    max-width: 576px;
  }
}
@media (max-width: 767px) {
  .containerSm {
    padding: 0 12px;
  }
}

@media (max-width: 992px) {
  .containerGlass {
    padding: 0;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 60px;
}

.tag {
  color: #AA0601;
  font-family: Roboto, sans-serif, serif;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 992px) {
  .tag {
    font-size: 1rem;
  }
}

.tagMain {
  color: #AA0601;
  font-family: Roboto, sans-serif, serif;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  .tagMain {
    font-size: 1rem;
  }
}

.banner {
  padding-top: 18.5rem;
  padding-bottom: 18.5rem;
  text-align: right;
  margin-left: auto;
}
@media (max-width: 767px) {
  .banner {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}
.banner h2 {
  font-size: 2rem;
  color: #650300;
}
@media (max-width: 767px) {
  .banner h2 {
    font-size: 1rem;
  }
}
.banner .bannerContentMain {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
@media (max-width: 767px) {
  .banner .bannerContentMain {
    font-size: 1.5rem;
  }
}
.banner .bannerBtn {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.banner .bannerBtn a {
  font-size: 1.25rem;
}

.service {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.service h3 {
  text-align: center;
  font-size: 3rem;
  color: #650300;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .service h3 {
    font-size: 2.25rem;
  }
}
.service .serviceList {
  gap: 1.5rem;
}
@media (max-width: 992px) {
  .service .serviceList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.service .serviceList .serviceItem {
  width: 23.6%;
  text-align: center;
}
@media (max-width: 992px) {
  .service .serviceList .serviceItem {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .service .serviceList .serviceItem {
    width: 100%;
  }
}
.service .serviceList .serviceItem span {
  color: #650300;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.service .serviceList .serviceItem h4 {
  color: #650300;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.service .serviceList .serviceItem p {
  text-align: left;
}

.classic {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.classic h3 {
  text-align: center;
  font-size: 3rem;
  color: #650300;
  font-weight: 700;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .classic h3 {
    font-size: 2.25rem;
  }
}
.classic .classicList {
  gap: 1.5rem;
}
@media (max-width: 992px) {
  .classic .classicList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.classic .classicList .classicItem {
  text-align: center;
}
@media (max-width: 992px) {
  .classic .classicList .classicItem {
    width: 100%;
  }
}
.classic .classicList .classicItem img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
.classic .classicList .classicItem:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.classic .classicList .classicItem h4 {
  font-family: Roboto, sans-serif, serif;
  color: #AA0601;
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  margin-top: 0.5rem;
}

.design {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.design h3 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .design h3 {
    font-size: 2.25rem;
  }
}
@media (max-width: 992px) {
  .design .designList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
}
.design .designList .designItem img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
.design .designList .designItem:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.design .designList .designItem h4 {
  color: #AA0601;
  font-size: 3rem;
  font-family: Roboto, sans-serif, serif;
  font-weight: 900;
  text-align: center;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.comment {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.comment h3 {
  text-align: center;
  font-size: 3rem;
  color: #650300;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .comment h3 {
    font-size: 2.25rem;
  }
}
.comment .commentList {
  gap: 1.5rem;
}
@media (max-width: 992px) {
  .comment .commentList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.comment .commentList .commentItem {
  width: 23.6%;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
}
@media (max-width: 992px) {
  .comment .commentList .commentItem {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .comment .commentList .commentItem {
    width: 100%;
  }
}
.comment .commentList .commentItem img {
  width: 100%;
}
.comment .commentList .commentItem:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
.comment .commentList .commentItem .commentContent {
  padding: 1rem;
}
.comment .commentList .commentItem .commentContent .commentName {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.comment .commentList .commentItem .commentContent .commentText {
  margin-bottom: 4rem;
}
.comment .commentList .commentItem .commentContent .commentDate {
  font-size: 0.875rem;
  color: #707070;
  margin-top: 0.5rem;
}

.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contact h3 {
  text-align: center;
  font-size: 3rem;
  color: #650300;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .contact h3 {
    font-size: 2.25rem;
  }
}
.contact p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .contact p {
    font-size: 1rem;
  }
}
.contact input {
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  background-color: #FBF2F2;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
}
.contact textarea {
  width: 100%;
  height: 136px;
  padding-top: 0.375rem;
  padding-left: 0.75rem;
  background-color: #FBF2F2;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
}
.contact .checkbox {
  width: auto;
}
.contact .submitBtn {
  width: 65.5%;
  border: none;
  background-color: #AA0601;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .contact .submitBtn {
    width: 100%;
  }
}
.contact .submitBtn:hover {
  background-color: #650300;
  cursor: pointer;
}

.glassList .glassItem {
  width: 33.333%;
  border: 1px solid #DCDCDC;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  border-bottom: 8px solid transparent;
}
@media (max-width: 992px) {
  .glassList .glassItem {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.glassList .glassItem:hover {
  border-bottom: 8px solid #AA0601;
}
.glassList .glassItem a {
  font-family: Roboto, sans-serif, serif;
  font-weight: 500;
  font-size: 2rem;
  color: #000;
}
@media (max-width: 992px) {
  .glassList .glassItem a {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .glassList .glassItem a {
    font-size: 1rem;
  }
}
.glassList .active {
  padding-bottom: 1rem;
  border-bottom: 8px solid #AA0601;
}

.bannerOptical img {
  width: 50%;
}
@media (max-width: 992px) {
  .bannerOptical {
    display: none;
  }
}

.bannerPad {
  display: none;
}
@media (max-width: 992px) {
  .bannerPad {
    display: block;
  }
}

.optical {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (max-width: 767px) {
  .optical {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.optical h2 {
  text-align: center;
  font-family: Roboto, sans-serif, serif;
  font-weight: 500;
  font-size: 2.265rem;
}
@media (max-width: 767px) {
  .optical h2 {
    font-size: 1.5rem;
  }
}
.optical h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .optical h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.optical .productList {
  gap: 1.5rem;
}
@media (max-width: 992px) {
  .optical .productList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.optical .productList .productItem {
  width: 25%;
}
@media (max-width: 992px) {
  .optical .productList .productItem {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .optical .productList .productItem {
    width: 100%;
  }
}
.optical .productList .productItem img {
  width: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
.optical .productList .productItem:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.optical .productList .productTitle {
  font-family: Roboto, sans-serif, serif;
  font-size: 1.5rem;
}
.optical .productList .productTitle p {
  color: #000;
}
.optical .productList .productTitle span {
  color: #AA0601;
}
.optical .productList ~ .productList {
  margin-top: 5rem;
}
@media (max-width: 992px) {
  .optical .productList ~ .productList {
    margin-top: 2.5rem;
  }
}
@media (max-width: 767px) {
  .optical .productList ~ .productList {
    margin-top: 1.5rem;
  }
}
.optical .productColor {
  gap: 0.5rem;
}
.optical .productColor .box {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.optical .productColor .brownBox {
  background-color: #5F3E2D;
}
.optical .productColor .orangeBox {
  background-color: #B75929;
}
.optical .pagination {
  margin-top: 4rem;
}
.optical .pagination a {
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #707070;
  color: #707070;
}
.optical .pagination a:hover {
  background-color: #000;
  color: #fff;
}
.optical .pagination .active {
  background-color: #000;
  color: #fff;
}
.optical .pagination .stress {
  background-color: #F2F2F2;
}

.sunglasses {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (max-width: 767px) {
  .sunglasses {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.sunglasses h2 {
  text-align: center;
  font-family: Roboto, sans-serif, serif;
  font-weight: 500;
  font-size: 2.265rem;
}
@media (max-width: 767px) {
  .sunglasses h2 {
    font-size: 1.5rem;
  }
}
.sunglasses h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .sunglasses h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.sunglasses .productList {
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sunglasses .productList .productItem {
  width: 32%;
}
@media (max-width: 992px) {
  .sunglasses .productList .productItem {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .sunglasses .productList .productItem {
    width: 100%;
  }
}
.sunglasses .productList .productItem img {
  width: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
.sunglasses .productList .productItem:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sunglasses .productList .productTitle {
  font-family: Roboto, sans-serif, serif;
  font-size: 1.5rem;
}
.sunglasses .productList .productTitle p {
  color: #000;
}
.sunglasses .productList .productTitle span {
  color: #AA0601;
}
.sunglasses .productList ~ .productList {
  margin-top: 5rem;
}
@media (max-width: 992px) {
  .sunglasses .productList ~ .productList {
    margin-top: 2.5rem;
  }
}
@media (max-width: 767px) {
  .sunglasses .productList ~ .productList {
    margin-top: 1.5rem;
  }
}
.sunglasses .productColor {
  gap: 0.5rem;
}
.sunglasses .productColor .box {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.sunglasses .productColor .brownBox {
  background-color: #5F3E2D;
}
.sunglasses .productColor .orangeBox {
  background-color: #B75929;
}
.sunglasses .pagination {
  margin-top: 4rem;
}
.sunglasses .pagination a {
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #707070;
  color: #707070;
}
.sunglasses .pagination a:hover {
  background-color: #000;
  color: #fff;
}
.sunglasses .pagination .active {
  background-color: #000;
  color: #fff;
}
.sunglasses .pagination .stress {
  background-color: #F2F2F2;
}

.location {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
@media (max-width: 767px) {
  .location {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
}
.location h2 {
  font-size: 3rem;
  font-weight: 700;
  border-left: 8px solid #AA0601;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .location h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.location .styled-select {
  color: #495057;
}
.location .styled-select label {
  font-size: 1.5rem;
  padding-right: 1rem;
}
@media (max-width: 767px) {
  .location .styled-select label {
    width: 18%;
  }
}
.location .styled-select select {
  width: 23.5%;
  font-size: 1.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
@media (max-width: 767px) {
  .location .styled-select select {
    width: 80%;
  }
}
.location .locationList {
  margin-top: 2.5rem;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.location .locationList .locationItem {
  width: 32%;
}
@media (max-width: 992px) {
  .location .locationList .locationItem {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .location .locationList .locationItem {
    width: 100%;
  }
}
.location .locationList .locationItem:hover button {
  background-color: #707070;
}
.location .locationList .locationItem .locationTitle {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.location .locationList .locationItem .locationTitle h5 {
  color: #000;
  font-size: 1.5rem;
}
.location .locationList .locationItem .locationTextList {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.location .locationList .locationItem .locationTextList .locationTextItem {
  margin-bottom: 0.5rem;
}
.location .locationList .locationItem .locationTextList .locationTextItem a {
  color: #000;
}
.location .locationList .locationItem .locationTextList .locationTextItem a:hover {
  color: #707070;
}
.location .locationList .locationItem .locationTextList .locationTextItem span {
  vertical-align: middle;
  margin-right: 0.75rem;
}
.location .locationList .locationItem button {
  border: none;
  width: 100%;
  background-color: #000;
  display: block;
}
.location .locationList .locationItem button a {
  color: #fff;
  font-size: 1.1875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.locationDetail {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
@media (max-width: 767px) {
  .locationDetail {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
}
.locationDetail h2 {
  font-size: 3rem;
  font-weight: 700;
  border-left: 8px solid #AA0601;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .locationDetail h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.locationDetail .styled-select {
  color: #495057;
}
.locationDetail .styled-select label {
  font-size: 1.5rem;
  padding-right: 1rem;
}
@media (max-width: 767px) {
  .locationDetail .styled-select label {
    width: 18%;
  }
}
.locationDetail .styled-select select {
  width: 23.5%;
  font-size: 1.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
@media (max-width: 767px) {
  .locationDetail .styled-select select {
    width: 80%;
  }
}
.locationDetail .locationDetailList {
  gap: 1.5rem;
  margin-top: 2.5rem;
}
@media (max-width: 992px) {
  .locationDetail .locationDetailList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.locationDetail .locationDetailList .locationDetailItem {
  width: 40%;
}
@media (max-width: 992px) {
  .locationDetail .locationDetailList .locationDetailItem {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.5rem;
  }
}
@media (max-width: 767px) {
  .locationDetail .locationDetailList .locationDetailItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 992px) {
  .locationDetail .locationDetailList .locationDetailItem img {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .locationDetail .locationDetailList .locationDetailItem img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .locationDetail .locationDetailList .locationDetailItem .locationContent {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .locationDetail .locationDetailList .locationDetailItem .locationContent {
    width: 100%;
  }
}
.locationDetail .locationDetailList .locationDetailItem .locationTitle {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.locationDetail .locationDetailList .locationDetailItem .locationTitle h5 {
  color: #000;
  font-size: 1.5rem;
}
.locationDetail .locationDetailList .locationDetailItem .locationTextList {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.locationDetail .locationDetailList .locationDetailItem .locationTextList .locationTextItem {
  margin-bottom: 0.5rem;
}
.locationDetail .locationDetailList .locationDetailItem .locationTextList .locationTextItem a {
  color: #000;
}
.locationDetail .locationDetailList .locationDetailItem .locationTextList .locationTextItem a:hover {
  color: #707070;
}
.locationDetail .locationDetailList .locationDetailItem .locationTextList .locationTextItem span {
  vertical-align: middle;
  margin-right: 0.75rem;
}
.locationDetail .locationDetailList .locationDetailImage {
  width: 58%;
}
@media (max-width: 992px) {
  .locationDetail .locationDetailList .locationDetailImage {
    width: 100%;
  }
}

.faq {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
@media (max-width: 767px) {
  .faq {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
}
.faq h2 {
  font-size: 3rem;
  font-weight: 700;
  border-left: 8px solid #AA0601;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .faq h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.faq h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.faq .faqItem ~ .faqItem {
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .faq .faqItem ~ .faqItem {
    margin-top: 1.5rem;
  }
}
.faq h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.blogNav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .blogNav {
    display: none;
  }
}
.blogNav a {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}
@media (max-width: 992px) {
  .blogNav a {
    font-size: 1.5rem;
  }
}
.blogNav a:hover {
  color: #FBF2F2;
}
.blogNav .blogNavList {
  gap: 3rem;
}
.blogNav .searchBar span {
  font-size: 2.265rem;
}

.blog {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
@media (max-width: 767px) {
  .blog {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
}
.blog h2 {
  font-size: 3rem;
  font-weight: 700;
  border-left: 8px solid #AA0601;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .blog h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.blog .articleItem {
  gap: 1.5rem;
}
@media (max-width: 767px) {
  .blog .articleItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1.5rem;
  }
}
.blog .articleItem .articleImage {
  width: 49%;
}
@media (max-width: 767px) {
  .blog .articleItem .articleImage {
    width: 100%;
  }
}
.blog .articleItem .articleContent {
  width: 49%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 767px) {
  .blog .articleItem .articleContent {
    width: 100%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.blog .articleItem .articleText h4 {
  color: #650300;
  font-size: 2rem;
}
.blog .articleItem .articleText .subtitle {
  margin-bottom: 1rem;
}
.blog .articleItem .articleText .subtitle h5 {
  font-size: 1.25rem;
  font-weight: 700;
}
.blog .articleItem .articleText .subtitle span {
  opacity: 0.7;
}
.blog .articleItem .articleText p {
  font-size: 1.25rem;
  color: #555555;
}
@media (max-width: 767px) {
  .blog .articleItem .articleText p {
    display: none;
  }
}
.blog .articleItem a {
  font-family: Roboto, sans-serif, serif;
  color: #650300;
  font-size: 2.25rem;
  font-weight: 700;
}
@media (max-width: 992px) {
  .blog .articleItem a {
    font-family: Noto Sans TC, sans-serif, serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #555555;
  }
}
@media (max-width: 767px) {
  .blog .articleItem a {
    display: none;
  }
}
.blog .articleItem a:hover {
  color: #AA0601;
}
.blog .pagination {
  margin-top: 4rem;
}
.blog .pagination a {
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #707070;
  color: #707070;
}
.blog .pagination a:hover {
  background-color: #000;
  color: #fff;
}
.blog .pagination .active {
  background-color: #000;
  color: #fff;
}
.blog .pagination .stress {
  background-color: #F2F2F2;
}

.breadcrumb {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
.breadcrumb li {
  display: inline;
  color: #AA0601;
}
.breadcrumb li a {
  display: inline;
  color: #000;
}
.breadcrumb li a:hover {
  color: #AA0601;
}
.breadcrumb li + li::before {
  color: #000;
  content: "/ ";
}

.newsTagList {
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.newsTagList li:hover a {
  color: #650300;
}

.blogpagePad {
  margin-bottom: 5rem;
}
@media (max-width: 767px) {
  .blogpagePad {
    margin-bottom: 4rem;
  }
}
.blogpagePad .blogpageListPad {
  display: none;
  border-top: 1px solid #000;
  padding-top: 1.5rem;
}
@media (max-width: 992px) {
  .blogpagePad .blogpageListPad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 767px) {
  .blogpagePad .blogpageListPad {
    display: none;
  }
}
.blogpagePad .blogpageListPad a {
  color: #000;
}
.blogpagePad .blogpageListPad a:hover {
  color: #555555;
}
.blogpagePad .blogpageListPad a:hover span {
  color: #555555;
}
.blogpagePad .blogpageListPad span {
  vertical-align: top;
  color: #000;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.newsContent {
  gap: 1.5rem;
}
.newsContent .article {
  width: 66%;
}
@media (max-width: 767px) {
  .newsContent .article {
    width: 100%;
  }
}
.newsContent .article h2 {
  font-size: 3rem;
}
@media (max-width: 767px) {
  .newsContent .article h2 {
    font-size: 1.5rem;
  }
}
.newsContent .article h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .newsContent .article h3 {
    font-size: 1rem;
  }
}
.newsContent .article img {
  margin-bottom: 0.5rem;
}
.newsContent .article p {
  color: #555555;
  margin-bottom: 2.5rem;
}
@media (max-width: 992px) {
  .newsContent .article p {
    margin-bottom: 1.5rem;
  }
}
.newsContent .article .share {
  gap: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .newsContent .article .share {
    display: none;
  }
}
.newsContent .article .share p {
  color: #000;
  font-family: Roboto, sans-serif, serif;
  font-weight: 700;
  margin-bottom: 0;
}
.newsContent .article .shareList {
  gap: 1rem;
}
.newsContent .article .shareList .shareItem {
  display: inline-block;
  margin-bottom: 0;
}
.newsContent .article .shareList .fa-brands {
  vertical-align: middle;
  color: #000;
  font-size: 2rem;
}
.newsContent .article .blogpageList {
  border-top: 1px solid #000;
  padding-top: 1.5rem;
}
@media (max-width: 992px) {
  .newsContent .article .blogpageList {
    display: none;
  }
}
.newsContent .article .blogpageList a {
  color: #000;
}
.newsContent .article .blogpageList a:hover {
  color: #555555;
}
.newsContent .article .blogpageList a:hover span {
  color: #555555;
}
.newsContent .article .blogpageList span {
  vertical-align: top;
  color: #000;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.newsContent .sidebar {
  width: 20%;
}
@media (max-width: 767px) {
  .newsContent .sidebar {
    display: none;
  }
}
.newsContent .sidebar h2 {
  font-family: Roboto, sans-serif, serif;
  font-size: 2rem;
  font-weight: 700;
  color: #AA0601;
}
@media (max-width: 992px) {
  .newsContent .sidebar h2 {
    font-size: 1rem;
  }
}
.newsContent .sidebar h2 span {
  vertical-align: middle;
  font-size: 3rem;
  font-weight: 700;
  color: #AA0601;
}
@media (max-width: 992px) {
  .newsContent .sidebar h2 span {
    font-size: 1.5rem;
  }
}
.newsContent .sidebar .tagList {
  gap: 1.5rem;
}
@media (max-width: 992px) {
  .newsContent .sidebar .tagList {
    gap: 1rem;
  }
}
.newsContent .sidebar .tagList li:hover a {
  color: #650300;
}/*# sourceMappingURL=all.css.map */